/* Styles specific to the about page picture */
.headshot-picture,
.headshot-picture img {
  max-width: 250px;
  float: right;
  margin: 1.25em 0 1.25em 1.25em; /* ensure space between image and text */
  display: block;
  border-radius: 1em;            /* round the corners at full size */
}

@media screen and (max-width: $viewport-small) {
  .headshot-picture,
  .headshot-picture img {
    max-width: 150px;
    float: none;
    margin: 1.25em auto 0;
    border-radius: 50%;          /* circle asset already round, but keep for consistency */
  }
}