---
layout: default
title: Public Speaking
tags: speaking
permalink: /speaking/
js:
  - js/util_buttons.js
---

<h1>Public Speaking</h1>

<p>
  Technical talks presented in the Postgres and Python worlds
</p>

<hr />

<h2>Talks</h2>

<a
  style="color: black"
  href="https://postgresql.us/events/pgconfnyc2023/sessions/session/1309/slides/114/It's%20Not%20You,%20It's%20Me%20-%20Breaking%20Up%20Tables%20with%20Partitioning.pdf"
  aria-label="It’s Not You, It’s Me: Breaking Up with Massive Tables via Partitioning"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="talk"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 1em;
    "
  >
    <div class="">
      <span class="sr-only">It’s Not You, It’s Me: Breaking Up with Massive Tables via Partitioning</span>
      <img
        src="{{ site.url }}/images/talks/partitioning_talk_logo.png"
        height="75px"
        width="75px"
        style="
          min-width: 75px;
          filter: hue-rotate(140deg) brightness(1.3);
          margin: 12.5px;
        "
      />
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
        It’s Not You, It’s Me: Breaking Up with Massive Tables via Partitioning
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        A 50-minute talk about how to partition live, production-critical PostgreSQL tables while minimizing downtime.
      </p>
      <l>
        <li>PGConf NYC 2023</li>
        <li>PGConf EU 2023 (Upcoming)</li>
      </l>
      <br>
    </div>
  </div>
</a>

<a
  style="color: black"
  href="https://docs.google.com/presentation/d/1N8kxPNVYLVzBaInf4lUo-DSrt8FDbctHGN8s62_T6SE/edit?usp=sharing"
  aria-label="Postgres Table Bloat: Managing Your Tuple Graveyard"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="talk"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 1em;
    "
  >
    <div class="">
      <span class="sr-only">Postgres Table Bloat: Managing Your Tuple Graveyard</span>
      <img
        src="{{ site.url }}/images/talks/table_bloat_talk_logo.png"
        height="75px"
        width="75px"
        style="
          min-width: 75px;
          filter: hue-rotate(140deg) brightness(1.3);
          margin: 12.5px;
        "
      />
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
        Postgres Table Bloat: Managing Your Tuple Graveyard
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        A 50-minute Postgres internals talk covering MVCC, table bloat, and bloat management methods.
      </p>
      <l>
        <li>SoCal Linux Expo 2023</li>
        <li>Nordic PGDay 2023</li>
        <li>PGDay Paris 2023</li>
        <li>CitusCon 2023</li>
        <li>PASS Data Summit 2023</li>
        <li>Seattle PUG 2024 (Upcoming)</li>
      </l>
      <br>
    </div>
  </div>
</a>

<a
  style="color: black"
  href="https://www.youtube.com/watch?v=2OU-vhb5-7M&feature=youtu.be"
  aria-label="Understanding Python Memory Management"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="talk"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 1em;
    "
  >
    <div class="">
      <span class="sr-only">Understanding Python Memory Management</span>
      <img
        src="{{ site.url }}/images/talks/python_memory_talk_logo.png"
        height="75px"
        width="75px"
        style="
          min-width: 75px;
          filter: hue-rotate(140deg) brightness(1.3);
          margin: 12.5px;
        "
      />
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
        Understanding Python Memory Management
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        A 10-minute talk about CPython's internal memory management system.
      </p>
      <l>
        <li>PyLadies International Women's Day 2021</li>
      </l>
      <br>
    </div>
  </div>
</a>

<a
  style="color: black"
  href="https://docs.google.com/presentation/d/1xfPppxoLQMLtfKYU_vEm7SixLSx55sTy2lzBCAX_n5U/edit?usp=sharing"
  aria-label="Dreaming of Databases"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="talk"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 1em;
    "
  >
    <div class="">
      <span class="sr-only">Dreaming of Databases</span>
      <img
        src="{{ site.url }}/images/talks/dreaming_of_databases_talk_logo.png"
        height="75px"
        width="75px"
        style="
          min-width: 75px;
          filter: hue-rotate(140deg) brightness(1.3);
          margin: 12.5px;
        "
      />
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
        Dreaming of Databases
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        A 25-minute talk covering database history and models, and how to make educated decisions regarding database choice.
      </p>
      <l>
        <li>ThaiPy Bangkok 2020</li>
      </l>
      <br>
    </div>
  </div>
</a>

<a
  style="color: black"
  href="https://docs.google.com/presentation/d/1xfPppxoLQMLtfKYU_vEm7SixLSx55sTy2lzBCAX_n5U/edit?usp=sharing"
  aria-label="Going Serverless: App Engine & Cloud Functions Scaled Down"
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="talk"
    style="
      display: flex;
      align-items: center;
      border-color: #999;
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      margin-bottom: 1em;
    "
  >
    <div class="">
      <span class="sr-only">Going Serverless: App Engine & Cloud Functions Scaled Down</span>
      <img
        src="{{ site.url }}/images/talks/going_serverless_talk_logo.png"
        height="75px"
        width="75px"
        style="
          min-width: 75px;
          filter: hue-rotate(140deg) brightness(1.3);
          margin: 12.5px;
        "
      />
    </div>
    <div>
      <h4
        class="text-lg font-bold tracking-tight text-gray-900 dark:text-gray-100"
      >
        Going Serverless: App Engine & Cloud Functions Scaled Down
      </h4>
      <p class="leading-5 text-gray-700 dark:text-gray-300">
        A 30-minute talk covering definitions/use cases of serverless computing, and a live deployment of a Python app with Google Cloud App Engine and Cloud Functions using the gcloud SDK.
      </p>
      <l>
        <li>Puget Sound Programming Python 2019</li>
      </l>
      <br>
    </div>
  </div>
</a>

<hr />

<div class="circle-button">
  <div
    class="top-circle"
    data-sr-id="80"
    style="
      visibility: visible;
      -webkit-transform: scale(1);
      opacity: 1;
      transform: scale(1);
      opacity: 1;
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1)
          0s,
        opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
      transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
        opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    "
  >
    <img src="{{ site.url }}/images/logos/top.png" />
  </div>
</div>

{% for js in page.js %}
<script type="text/javascript">
  {% include {{ js }} %}
</script>
{% endfor %}

<script src="https://cdn.jsdelivr.net/emojione/3.0.3/lib/js/emojione.min.js"></script>

<style>
  .talk {
    transition: all 0.2s ease-in-out;
  }

  .talk:hover {
    transform: scale(1.01);
  }

  li {
    padding-left: 5%;
  }

</style>
